api.villeto.com {
   tls villetosystems@gmail.com
   encode zstd gzip

   # reverse proxy to service on the Docker network
    handle {
        reverse_proxy http://{$UPSTREAM_API_GATEWAY}:3000
    }
    log {
        output file /data/local-access.log
    }

}


http://localhost {
    # Local testing configuration
    encode zstd gzip
    handle {
        reverse_proxy http://{$UPSTREAM_API_GATEWAY}:3000
    }
    log {
        output file /data/local-access.log
    }
}

# https://api.villeto.com {
#     # Production configuration
#     tls villetosystems@gmail.com
#     encode zstd gzip
#     handle {
#         reverse_proxy http://{$UPSTREAM_API_GATEWAY}:3000
#     }
#     log {
#         output file /data/dev-access.log
#     }
# }

