# Caddyfile (local/dev)
http://localhost {
    tls internal
    reverse_proxy villeto:3000
    log {
        output file /data/dev-access.log
    }
}

# api.villeto.com {
#    tls villetosystems@gmail.com
#    encode zstd gzip
#
#    # reverse proxy to service on the Docker network
#    reverse_proxy villeto:3000
#
#}
